.calculator-screen.theme3 {
    background-color: var(--theme3-background-screen);

    .calculator-output {
        color: var(--theme3-text-yellow);
    }

    .calculator-prev {
        color: var(--theme3-text-yellow);
    }
}