.calculator-screen.theme1 {
    background-color: var(--theme1-background-screen);

        .calculator-output {
            color: var(--white);
        }

        .calculator-prev {
            color: var(--white);
        }
}