.calculator-screen.theme2 {
    background-color: var(--theme2-background-screen);

        .calculator-output {
            color: var(--theme2-text);
        }

        .calculator-prev {
            color: var(--theme2-text);
        }
}