.header.theme2 {
    .title {
        color: var(--theme2-text);
    }

    .theme-menu {
        color: var(--theme2-text);

        .theme-toggler {
            background-color: var(--theme2-background-toggle-keypad);
            justify-content: center;

            .theme-button {
                background-color: var(--theme2-key2-background-toggle);
            }
        }
    }
}