footer {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
}

.attribution {
    font-size: .7rem;
    text-align: center;
}

.attribution a {
    color: var(--atribution);
}


@media only screen and (max-width: 45rem) {
  footer {
    display: none;
  }
}
