<div class="header" appThemeDirective>
    <h1 class="title">calc</h1>
    <div class="theme-menu">
        <p>Theme</p>
        <div class="theme-input">
            <ul class="theme-list">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
            <div class="theme-toggler" (click)="onThemeChange($event)">
                <div class="theme-button">
                    <div class="theme-button-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</div>
