:root {
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
    --font-size: 1rem;
    --atribution: hsl(228, 45%, 44%);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    background-color: var(--magnolia);
    font-family: 'Ubuntu', sans-serif;
}

app-root {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-step {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
    text-decoration: none;
}


button,
input {
  border: none;
}

@media only screen and (max-width: 45rem) {
  app-root {
    align-items: flex-start;
  }
}
